.navbar {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
}
.logo {
    color: white;
}

.navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-center .nav-links {
    display: flex;
    list-style: none;
}

.navbar-center .nav-links li {
    margin: 0 1rem;
}

.navbar-center .nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin: 220px;
}